<div class="card text-center">

    <div class="card-header">
        <p>Nueva transaccion</p>
        <app-alert-success *ngIf="showMessage" [message]="message"></app-alert-success>
    </div>

    <div class="card-body" *ngIf="!customer">
        <form name="formSearch" (submit)="onSubmitSearch()" [formGroup]="formSearch">
        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <label for="customerName">Buscar cliente:</label>
                <input type="text" class="form-control" id="customerName" formControlName="dni">
                <small id="customerNameTxt" class="form-text text-muted">Ingrese el numero de Dni del cliente</small>
                <button type="submit" class="btn btn-dark">Ingresar</button>
            </div>
            <div class="col-sm">

            </div>
        </div>
        </form>
    </div>
    <form name="form" (submit)="onSubmit()" [formGroup]="form">
    <div class="card-body" *ngIf="customer">
        <div class="row">
            <div class="col-sm">
                <label for="customerName">Cliente:</label>
                <input type="text" class="form-control" id="customerName" formControlName="customerName" readonly>
            </div>
            <div class="col-sm">
                <label for="lastname">Fecha:</label>
                <input type="text" class="form-control" id="lastname" formControlName="transactionDate" readonly>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button *ngIf="customer" type="submit" class="btn btn-success mr-3">Confirmar</button>
        <button type="button" routerLink="/customerTransaction" class="btn btn-dark">Cancelar</button>
    </div>
    </form>
  </div>
