<div class="card">
    <div class="card-header">
        <form name="form" (submit)="onSubmit()" [formGroup]="form">
        <div class="row">

            <div class="col-md-3">
                <button routerLink="/customerTransaction/new" type="button" class="btn btn-success mb-3 mt-4">Nueva transaccion</button> 
            </div>
            <div class="col-md-3">
                <label for="dateFrom">Fecha desde:</label>
                <input type="text" class="form-control" matInput mask="00/00/0000" id="dateFrom" formControlName="dateFrom">
            </div>
            <div class="col-md-3">
                <label for="dateTo">Fecha hasta:</label>
                <input type="text" class="form-control" matInput mask="00/00/0000" id="dateTo" formControlName="dateTo">
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-dark mt-4">Buscar</button>
            </div>

        </div>
        </form>
        <app-alert-success *ngIf="showMessage" [message]="message"></app-alert-success>
    </div>
    <div class="card-body">
        <table class="table table-dark">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Cliente</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let t of transactions; let i = index">
                <th scope="row">{{i+1}}</th>
                <td *ngIf="t.customer != undefined">{{t.customer.customerName}}</td>
                <td>{{t.transactionStatus}}</td>
                <td>{{t.transactionDate  | date:'dd/MM/yyyy'}}</td>
                <td><a *ngIf="t.transactionStatus == 'Pendiente'" (click)="changeStatusConfirmed(i)" class="badge badge-success">Confirmar</a><a *ngIf="t.transactionStatus == 'Confirmada'" (click)="changeStatusFinished(i)" class="badge badge-light ml-3">Finalizar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
